@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gabriela", serif;
}
:root{
  --verde-intenso:#0a2616;
  --fondo-claro:#9ea697;
  --verde-medio:#154028;
  --verde-claro:#22593a;
  --negro:#0d0d0d;
  --blanco:#f2f2f2;
}
.body {
  background-color: var(--fondo-claro);
}
/* .main{
  width: 100%;
  align-items: center;
  justify-content: center;
} */
.header{
  display: flex;
  border: 2px solid var(--verde-intenso);
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--verde-medio);
  color: var(--blanco);
  padding: 5px 10px;
}

.h1 {
  font: weight 2000px;
  font-size: 35px;
  margin: 5px;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  height: 40px;
  align-items: center;
  margin-left: 10px;
  padding: 0px 25px;
  gap: 20px;
}

.nav a{
  color: var(--blanco);
  font-weight: 700;
  text-decoration: none;
}

.seccion-cartelera {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items:center;
  justify-content: space-evenly;
}
.card{
  width: 30%;
  border: 3px dashed var(--verde-medio);
  display: flex;
  align-items: center;
}

.info-pelicula{
  display: flex;
  flex-direction: column;
  border: 2px solid var(--verde-claro);

  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  gap: 20px;
}
.info-pelicula figcaption{
  font-size: 30px;
}
.info-pelicula a{
  color: var(--blanco);
  font-weight: 700;
  text-decoration: none;
}