header{
   
}
body{
    background-color: #011826;
}

h1 {
  text-align: center;
  color: #f20530;
  font: weight 2000px;
  height: 50px;
  font-size: 80px;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color:#024059 ;
  height: 40px;
  align-items: center;
  margin: 0px 15px;
  padding:  0px 25px;
}

a{
    color: #F2C53D;
    font-weight:700;
}
.peliculas{
    display: flex;
}